$primary: lightgray;
$buttons: darkgray;

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: transparent;
  cursor: pointer;

  .fa-solid {
    color: $buttons;
    font-size: 18px;
  }
}

.container {
  margin: 30px auto;
  box-shadow: 0 0 5px 5px $primary;
  width: fit-content;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 6px;
    padding-inline: 5px;
    border-block: 2px solid  $primary;

    h1 {
      font-size: 18px;
      font-weight: 500;
    }

    button {
      color: $buttons;
    }
  }

  .todo-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
    padding-inline: 5px;
    border-bottom: 2px solid  $primary;

    input {
      border: none;
      outline: transparent;
      font-size: 18px;
      font-style: italic;
    }
  }

  #delete-btn {
    font-size: 18px;
    color: gray;
    background: #efefef;
    text-align: center;
    width: 100%;
    padding: 12px;
    margin: 0;
  }
}

.list-container {
  margin-left: -40px;
  margin-block: 0;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid  $primary;
    padding-inline: 5px;
    width: 400px;

    div {
      display: flex;
      border: none;
      flex-direction: row;
      gap: 10px;

      #checkbox:checked {
        background: rgb(77, 234, 82);
      }

      .edit-input {
        border: none;
        outline: transparent;
        font-size: 18px;
        padding-block: 15px;
        background: transparent;
      }
    }

    &.changed {
      background: lightgray;

      .edit-input {
        color: $buttons;
        text-decoration: line-through;
      }
    }

    .remove-btn {
      display: none;
    }
  }
}
